body { 
    background-color: rgba(7, 7, 65, 0.664);
    background: linear-gradient(to right, rgb(33, 73, 126), rgb(1, 11, 19));
    width: 100%;
    height: 100vh

}

nav {
    background-color: black;
    justify-content: flex-start;
    position: relative;
    
    margin-left: -10%;
    margin-bottom:0;
}

ul {
    list-style-type: none;
    height: 100vh;
}

.container {
    flex: 1 0 auto;
}

ul li a{
    color:white;
    
}

 ul li a:hover{
    font-weight: bold !important;
    color:white;
    text-decoration: none;
  }

.a1:hover {
    color: green;
    display: inline-block;
    position: relative;

}

.a1:hover::after {
    content: '';
    height: 4px;
    border-radius: 30px;
    width:30%;
    background-color: rgb(4, 179, 4);
    position: absolute;
    left:calc(50% - 15%);
    bottom:0;
    top:0.5;
}

.a2:hover {
    font-weight: bold !important;
    color:white;
    text-decoration: none;
    border-left:3px solid rgb(8, 211, 8) !important; 
    border-bottom:none !important;
}

.nav-2 {
    background-color: transparent;
    color:white ;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px;
   
}


.btnBorder {
    border-radius:40px;
    width:100%;
}

.nav-2 ul {
    height: 50px;
    width: 700%;
}
h1 {
    color:white;
}

p {
    color:white;
    justify-self: center;
}


#sticky-footer {
    width: 100vh;
   
  }

  .progress-bar{
    width: 100%;
    background-color: whitesmoke;
    border-radius: 20px;
    height: 4px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.progress-bar2{
    width: 30%;
    background-color: whitesmoke;
    border-radius: 20px;
    height: 4px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Log In */
.container-fluid_login{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid_login .content_login{
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
}
.container-fluid_login button{
    border-radius: 20px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    height: 45px;
}

.hr_line{
    position: relative;
}

#or_word {
    position: absolute;
    top: 0;
    z-index: 2;
}

#b1{
    background-color: #3a61b3;
}

#b2{
    background-color: #000000;
}

#b1:hover{
    background-color: #3b5998;
}

#b2:hover{
    background-color: #333;
}

.container-fluid_login input{
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9dadc;
    border-radius: 0;
}

.forgot-password{
    color: green;
    justify-content: center;
    padding:20px;
    margin:20px;
}




.login_footer {
    
    color:grey;
    font-size: smaller;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 20px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid green;
}
.checkbox-label .checkbox-custom::after {
    position: absolute;
    content:"";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid green;
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity: 1;
}
.checkbox-label input:checked ~ .checkbox-custom {
    background-color: green;
    border-radius: 5px;
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid white;
}
.checkbox-label input:checked ~ .checkbox-custom::after {
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid green;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}
.checkbox-label .checkbox-custon::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid white;
    transform: scale(0);
}
.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    transform: scale(3);
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease-out;
}