body { 
    background-color: rgba(7, 7, 65, 0.664);
    background: linear-gradient(to right, rgb(22, 97, 194), rgb(1, 18, 29));
    width: 100%;
    height: 100vh

}

nav {
    background-color: black;
    justify-content: flex-start;
    position: relative;
    
    margin-left: -10%;
    margin-bottom:0;
}

ul {
    list-style-type: none;
    height: 100vh;
}

.container {
    flex: 1 0 auto;
}

.nav-2 {
    background-color: transparent;
    color:white ;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px;
   
}
.btnBorder {
    border-radius:40px;
    width:200%;
}

.nav-2 ul {
    height: 50px;
    width: 100%;
}
h1 {
    color:white;
}

p {
    color:white;
    justify-self: center;
}


#sticky-footer {
    width: 100vh;
   
  }

