body 

a{
    color:green;
}

.nav-2 {
    background-color: transparent;
    color:white ;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px;
   
}

.card {
    width: 200px !important;
}



/* Don't display Spotify NavBar on small and ekstra small device */
@media(max-width: 767px){
    .navbar {
        max-width: 90vh;
        margin-left:2px;
        }
    }

@media (max-width: 575px){
    #nav1-medium {
        display: none;
    }
    .nav-2{
        display: none;
    }
}

@media (max-width: 767px){
    .nav-2 {
        display: none;
    }
}

@media (max-width: 575px){
    #nav1-medium {
        display: none;
    }
    footer{
        display: none;
    }
}

@media (max-width: 767px){
    footer {
        display: none;
    }
}

@media (max-width: 767px){
    #small {
        width:100vh;
    }
}